{% extends "pondering/layout.html" %}
{% load static %}
{% block head %}
    <script src="{% static 'validateSetup.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="jumbotron">
    {% if user.is_authenticated %}
        <p class="lead" id="userPrompt">Draft and test phishing campaign narratives here.</p>
        <form action="/setup" id="form" method="post">
            {% csrf_token %}
            <div>
                <strong>
                    <label for="emailFrom">From: </label>
                </strong>
                <input type="text" id="emailFrom" name="emailFrom" value="{{ emailFrom }}" required>
            </div>
            <div>
                <strong>
                    <label for="preview">Test E-mail Address: </label>
                </strong>
                <input type="text" id="preview" name="preview" value="{{ preview }}" required>
            </div>
            <div>
                <strong>
                    <label for="subject">Subject: </label>
                </strong>
                <input type="text" id="subject" name="subject" value="{{ subject }}" required>
            <div>
                <strong>
                    <label for="keyword">Keyword: </label>
                </strong>
                <input type="text" id="keyword" name="keyword" value="{{ keyword }}" required>
            </div>
            <div>
                <strong>
                    <label class="align-top" for="body">Body: </label>
                </strong>
                <textarea class="fit-content input" type="text" id="body" name="body" rows="10" cols="100" required>{{ body }}</textarea>
            </div>
            <div>
	            <input class="float-left" formaction="/test" type="submit" id="test" value="Test">
	            <input class="float-right" type="submit" id="prompt" value="Setup" disabled>
	        </div>
        </form>
    {% else %}
        <h2>PyGoPhish - Please sign in to go phish.</h2>
        <a href="{% url 'signin' %}" class="btn btn-primary btn-large">Click here to sign in</a>
    {% endif %}
    </div>
{% endblock %}
