{% extends "pondering/layout.html" %}
{% block content %}
<div class="jumbotron">
    {% if user.is_authenticated %}
    <h4>Welcome {{ user.name }}!</h4>
    <p class="lead">Where are we phishing today?</p>
    <label for="domain">Domain:</label>
    <input type="text" id="domain" name="domain" required>
    {% else %}
    <h1>PyGoPhish - Please sign in to phish.</h1>
    <a href="{% url 'signin' %}" class="btn btn-primary btn-large">Click here to sign in</a>
    {% endif %}
</div>
{% endblock %}
