{% if CompanyId %}
    <p id='name' name='name'><strong>LinkedIn Company Alias:</strong> {{ Company }}</p>
    <p id='id' name='id'><strong>LinkedIn Company Id:</strong> {{ CompanyId }}</p>
    <p id='count' name='count'><strong>LinkedIn Staff Count:</strong> {{ StaffCount }}</p>
{% else %}
    <p class='strong' id='error' name='error'>No results found. This business may not be registered with LinkedIn, is hiding information from reconaissance, or LinkedIn has detected something suspcious about your browsing behavior.</p>
{% endif %}
{% if Names %}
    {% if StaffFound %}
        <p id='found' name='found'><strong>LinkedIn Staff Found:</strong> {{ StaffFound }}</p>
    {% endif %}
    {% if Percentage %}
        <p id='coverage' name='coverage'><strong>Percent Found:</strong> {{ Percentage }}%</p>
    {% endif %}
    <div class="container">
        <div class="row">
            <h3 class="col-sm">Names:</h3>
            <h3 class="col-sm">Exclusions:</h3>
        </div>
        <div class="row">
            <div class="col-sm">
            {% if Names|length == 1 %}
            {% else %}
                <ol>
                    {% for name in Names %}
                    <li>
                        {% for text in name %}
                                <button class="btn btn-success m-1" onmouseover="deleteName(this)" onmouseout="retainName(this)" onclick="excludeName(this)">{{ text }}</button>
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ol>
            {% endif %}
            </div>
            {% if Exclusions %}
            <div class="col-sm">
                <ol>
                    {% for text in Exclusions %}
                    <li>
                            <button class="btn btn-danger m-1" onmouseover="retainName(this)" onmouseout="deleteName(this)" onclick="includeName(this)">{{ text }}</button>
                    </li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
{% endif %}
