{% extends "pondering/layout.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="jumbotron">
    {% if user.is_authenticated %}
        {% if report.items %}
            <ol>
            {% for key, values in report.items %}
                <li><strong>{{ key }}</strong></li>
                {% for key, value in values.items %}
                    <ul>
                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                    </ul>
                {% endfor %}
            {% endfor %}
            </ol>
        {% else %}
        <div class="w-100 h-100">
            <p class="text-center">No renderable report found.</p>
        </div>
        {% endif %}
        <div>
            <a href="setup?id={{ Instance }}"><button class="btn btn-secondary float-left" id="reset" value="reset">Reset</button></a>
            <a href="enumerate?id={{ Instance }}"><button class="btn btn-primary float-right" id="enumerate" value="enumerate">Enumerate</button></a>
        </div>
    {% else %}
        <h2>PyGoPhish - Please sign in to go phish.</h2>
        <a href="{% url 'signin' %}" class="btn btn-primary btn-large">Click here to sign in</a>
    {% endif %}
    </div>
{% endblock %}
