{% extends "pondering/layout.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="jumbotron">
    {% if user.is_authenticated %}
        {% if Targets %}
            <form action="/test" id="emails" method="post">
                {% csrf_token %}
                <ul class="list-group">
                    <li class="list-group-item active"><span class="strong float-left">Email Address</span><span class="strong float-right">Modify</span></li>
                {% for target in Targets %}
                    <li class="list-group-item">{{ target }}<button id="{{ Ids.forloop.counter }}" formaction="/delEmail" class="btn btn-danger float-right">Delete</button></li>
                {% endfor %}
                </ul>
            </form>
        {% endif %}
    {% else %}
        <h2>PyGoPhish - Please sign in to go phish.</h2>
        <a href="{% url 'signin' %}" class="btn btn-primary btn-large">Click here to sign in</a>
    {% endif %}
    </div>
{% endblock %}
